@import '../variables';
@import '../feautures';
@import "../breakpoints";

html, body {
  min-height: 100vh;
  font: var(--font-normal);
  color: var(--color-common-p);
  font-weight: var(--font-weight-normal);
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  font-family: var(--font-family-primary);
  color: var(--color-common-h);
  text-align: center;
}
//utility start ##############################
.btn-primary {
  padding: 15px 45px;
  border-radius: 100px;
  background: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: 17px;
  color: var(--color-primary-btn);
  transition: 0.3s;
  border: 0;
  cursor: pointer;
}

.btn-primary_outlined {
  padding: 15px 45px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background: transparent;
  font-family: var(--font-family-primary);
  font-size: 17px;
  color: var(--color-primary-btn);
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    @media #{$mouseDevice} {
      background: var(--color-primary);
    }
  }
}

.visible-md {
  display: none;
}
//utility end ##############################



//header start ##############################
.header {
  width: 100%;
  padding: 30px 20px;
  position: absolute;
}

.header__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: var(--color-primary);
  font-size: 32px;
  line-height: 35.2px;
  cursor: pointer;
}

.header__subtitle {
  margin-top: 10px;
  cursor: default;
  color: var(--color-common-inverted-h);
}

.header__menu-bg {
  top: 0;
  position: fixed;
  width: 100vw;
  right: -100vw;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  transition: 0.3s;
  z-index: 1;

  &_open {
    right: 0;
    opacity: 1;
  }
}

.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-primary-btn);
  margin-left: auto;
  width: 320px;
  height: 100%;
  z-index: 1;
}

.header__menu-item {
  z-index: 1;
  margin-top: 40px;
  text-align: center;

  &:first-child {
    margin-top: 0;
  }
}

.header__menu-link {
  z-index: 1;
  font-size: 32px;
  line-height: 51.2px;

  &:not(&_active) {
    @include underline-from-center();
    color: var(--color-common-inverted-p);
  }

  &:hover {
    @media #{$mouseDevice} {
      color: var(--color-common-inverted-h);
    }
  }

  &_active {
    @include underline();
    color: var(--color-common-inverted-h);
  }
}

.header__burger {
  position: static;
  height: 22px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  transition: 0.3s;

  &_open {
    transform: rotateZ(90deg);
    position: fixed;
    right: 20px;
  }
}

.header__burger-item {
  height: 2px;
  background: var(--color-primary);
}
//header end ##############################



//welcome section start ##############################
.welcome {
  background: url('../../pictures/startScreen/gradient-background-sm.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.welcome__block-container {
  display: flex;
  flex-direction: column;
}

.welcome__title {
  font: var(--font-title);
  color: var(--color-common-inverted-h);
}

.welcome__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__description {
  margin-top: 42px;
  text-align: center;
  color: var(--color-common-inverted-p);
  max-width: 460px;
}

.welcome__btn {
  margin-top: 56px;
  align-self: center;
}

.welcome__img {
  height: 84.68vw;
  align-self: flex-end;
  margin-top: 104px;
}
//welcome section end ##############################



//about section end ##############################
.about {
  padding: 42px 10px 42px 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.about__title {
  text-align: center;
  font: var(--font-title);
}

.about__text-container {
  padding: 0 15px;
}

.about__description {
  text-align: justify;

  &:first-child {
    margin-top: 26px;
  }
  &:last-child {
    margin-top: 22px;
  }
}

.about__img {
  margin: 42px 20px 0 20px;
  height: 354px;
  align-self: center;
}
//about section end ##############################

//pets section start ##############################
.pets {
  background: #F6F6F6;
  padding: 42px 25px 42px 25px;
}

.pets__title {
  font: var(--font-title);
}
.pet-card__caption {
  font-family: var(--font-family-primary);
  font-size: 20px;
  line-height: 22.72px;
  margin: 30px auto 0 auto
}

.pets__carousel-btn {
  height: 52px;
  width: 52px;
  border-radius: 100px;
  background: transparent;
  border: 2px solid var(--color-primary);
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    @media #{$mouseDevice} {
      background: var(--color-primary);
    }
  }
}

.pet-card__btn {
  margin-top: 30px;
  align-self: center;
}

.pet-card {
  display: flex;
  flex-direction: column;
  background: #FAFAFA;
  padding-bottom: 30px;
  transition: 0.2s ease-in-out;


}
.pets {
  .pet-card {
    &:not(:first-child) {
      margin-left: 40px;
    }
  }
}

.pet-card__img {
  height: 270px;
  width: 270px;
  margin: 0 auto;
}

.pets__carousel-nav-btns-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 270px;
}

.pets__carousel-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets__btn {
  margin: 42px auto 0 auto;
}

.pets__carousel-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0,0,0,0.4);
  display: none;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;

  &_open {
    display: flex;
  }
}

.pets__cards-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: hidden;
  max-width: 270px;
}

.pets__modal-img {
  display: none;
  border-radius: 0 0 0 9px;
}

.pets__cards-block-container {
  display: flex;
  justify-content: center;

  .pets__carousel-btn {
    display: none;
  }
}

.pets__modal-body {
  position: relative;
  max-width: 240px;
  background: #FAFAFA;
  border: 0;
  border-radius: 9px;
  padding: 10px;
  display: none;

  &_open {
    display: flex !important;
  }
  h3 {
    font-size: 35px;
    line-height: 45.5px;
  }
  h4 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 23px;
  }
  span {
    font-family: var(--font-family-primary);
    font-weight: 700;
  }
  p {
    font-family: var(--font-family-primary);
  }
  li::before {
  }
}

.pets__close-modal {
  padding: 0;
  width: 52px;
  height: 52px;
  position: absolute;
  top: -52px;
  right: -30px;
  font-family: var(--font-family-primary);
}

.pets__modal-feature-item {
  font-family: var(--font-family-primary);

  &:not(:first-child) {
    margin-top: 5px;
  }
  &::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--color-primary);
    font-weight: 400;
    display: inline-block;
    width: 14px;
  }
}

.pets__modal-feature-list {
  margin-top: 24px;
  font-size: 15px;
}

.pets__modal-description {
  margin-top: 20px;
  font-size: 13px;
  line-height: 14.3px;
  text-align: justify;
}
//pets section end ##############################

//help section start ##############################
.help {
  padding: 42px 0;
}
.help__icons-container {
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  margin: 42px auto 0 auto;
  max-width: 290px;
}
.help__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help__title {
  font: var(--font-title);
}
.help__img {
  height: 50px;
  width: 50px;
}
.help__icon-caption {
  margin-top: 20px;
}
//help section end ##############################

//donation section start ##############################
.donation {
  background-color: #F6F6F6;
  padding: 42px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donation__title {
  font: var(--font-title);
}
.donation__payment-title {
  margin-top: 20px;
  text-align: center;
}
.donation__payment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.donation__credit-card-container {
  margin: 20px 20px 0 20px;
  display: flex;
  flex-direction: row;
  width: 280px;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: var(--color-primary);
  border: 0;
  border-radius: 9px;
}
.donation__credit-card {
  background: transparent;
  color: var(--color-common-h);
  font-family: var(--font-family-primary);
  width: 100%;
  text-align: center;
  margin-left: 15px;
  border: 0;
  outline: 0;
}
.donation__text-container {
  max-width: 300px;
  margin: 0 auto;
}
.donation__description {
  font-style: italic;
  color: var(--color-common-p-light);
  margin: 20px 20px 0 20px;
  font-size: 12px;
  text-align: justify;
}
.donation__img {
  margin: 42px 30px 0 30px;
  height: 135.2px;
}
//donation section end ##############################

//footer start ##############################
footer {
  padding: 30px 10px 0 10px;
  background: url('../../pictures/startScreen/footer-sm.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.footer__title {
  font: var(--font-title);
  color: var(--color-common-inverted-h);

  &:not(:first-child) {
    margin-top: 40px;
  }
}
.footer__icons-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__icons-container-points {
  width: 300px;
}

.footer__connection-icon-container{
  display: flex;
  flex-direction: row;
  p {
    margin-left: 20px;
    color: var(--color-primary);
    font-size: 20px;
    line-height: 23px;
  }
  &:not(:first-child) {
    margin-top: 40px;
  }
}
.footer__block-container {
  &:nth-child(2) {
    margin-top: 40px;
  }
}

.footer__img {
  margin: 40px auto 0 auto;
  justify-self: center;
  align-self: center;
}
//footer end ##############################


