@import '../variables';
@import '../feautures';
@import "../breakpoints";


#our-pets {
  .header {
    position: static;
    padding: 30px 20px;
  }
  .header__title {
    color: var(--color-common-h);
  }
  .header__subtitle {
    color: var(--color-primary-btn);
  }
  .header__burger-item {
    background: #000;
  }
}

.pagination {
  padding: 42px 10px;
  background: #F6F6F6;
}
.pagination__cards-container {
  margin-top: 42px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.pagination__btn-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
}
#pagination-page {
  cursor: default;
}

@media (min-width: $break-md) {
  #our-pets {
    .header {
      padding: 30px;
    }
    .header__menu-link {
      color: var(--color-common-h);
    }
    .header__menu-link_active {
      color: var(--color-primary-btn)
    }
  }
  .pagination {
    padding: 60px 30px 70px 30px;
  }
  .pagination__cards-container {
    margin-top: 30px;
    grid-template-columns: repeat(2, fit-content(50%));
    column-gap: 40px;
  }
  .pagination__btn-container {
    gap: 20px;
    margin-top: 40px;
  }
}

@media (min-width: $break-lg) {
  #our-pets {
    .header {
      padding: 30px 40px;
    }
  }
  .pagination {
    padding: 80px 40px 100px 40px;
  }
  .pagination__cards-container {
    margin-top: 45px;
    grid-template-columns: repeat(4, fit-content(25%));
  }
  .pagination__btn-container {
    margin-top: 45px;

    button:disabled {
      border-color: var(--color-common-inverted-p);
    }
  }
}